<!DOCTYPE html>
<html>

<head>
    <title>register</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/min.js" type="text/javascript"></script>
    <link rel="icon" href="/images/Preloader_1.gif" type="image/gif">
</head>

<body>
    <div class="w-row">
        <div class="w-col w-col-6">
            <!-- <img src="/images/hello.jpg" alt="" width="937" /> -->
            <div class="earth">
                <div class="land-big na">
                    <div class="land l-1"></div>
                    <div class="land-join"></div>
                    <div class="land l-2"></div>
                </div>
                <div class="land-big sa">
                    <div class="land l-1"></div>
                    <div class="land-join"></div>
                    <div class="land l-2"></div>
                </div>
                <div class="land-big ce">
                    <div class="land l-1"></div>
                    <div class="land-join"></div>
                    <div class="land-join j-2"></div>
                    <div class="land l-2"></div>
                    <div class="land l-3"></div>
                </div>
                <div class="land-big a">
                    <div class="land l-1"></div>
                    <div class="land-join"></div>
                    <div class="land l-2"></div>
                </div>
                <div class="land ne"></div>
                <div class="land au"></div>
                <div class="land np"></div>
                <div class="land sp"></div>
                <div class="cloud-wrapper">
                    <div class="cloud c1"></div>
                    <div class="cloud c2"></div>
                    <div class="cloud c3"></div>
                    <div class="cloud c4"></div>
                    <div class="cloud c5"></div>
                    <div class="cloud c6"></div>
                    <div class="cloud c7"></div>
                    <div class="cloud c8"></div>
                </div>
            </div>
            <div class="shine"></div>
            <div class="ellipsis">
                <div class="rotate-moon">
                    <div class="counter-rotate-moon">
                        <div class="moon">
                            <div class="crater c1"></div>
                            <div class="crater c2"></div>
                            <div class="crater c3"></div>
                            <div class="crater c4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column w-col w-col-6">
            <div>
                <div class="w-form">
                    <form id="wf-form-LOGIN" name="wf-form-LOGIN" data-name="LOGIN" class="form w-clearfix" method="POST"
                        action="users/newpatient">
                        <h1 style="color: #fffdfd;">New Patient</h1>
                        <!-- name -->
                        <label for="name" style="color: #fffdfd;">Name</label>
                        <input type="text" class="w-input" maxlength="256" name="name" data-name="name" id="name"
                            required="" style="color: #006cfa;" />
                        <!-- address -->
                        <label for="address" style="color: #fffdfd;">Address</label>
                        <input type="text" class="w-input" autofocus="true" maxlength="256" name="address" data-name="address"
                            id="address" required="" style="color: #006cfa;" />
                        <!-- phone -->
                        <label for="phone" style="color: #fffdfd;">phone</label>
                        <input type="tel" class="w-input" autofocus="true" maxlength="256" name="phone" data-name="phone"
                            id="phone" required="" style="color: #006cfa;" />
                        <!-- allergies -->
                        <label for="allergies" style="color: #fffdfd;">allergies</label>
                        <input type="text" class="w-input" autofocus="true" maxlength="256" name="allergies" data-name="allergies"
                            id="allergies" required="" style="color: #006cfa;" />
                        <!-- current condition -->
                        <label for="current condition" style="color: #fffdfd;">current condition</label>
                        <input type="text" class="w-input" autofocus="true" maxlength="256" name="current condition"
                            data-name="current condition" id="current condition" required="" style="color: #006cfa;" />
                        <!-- email -->
                        <label for="email" style="color: #fffdfd;">email</label>
                        <input type="email" class="w-input" autofocus="true" maxlength="256" name="email" data-name="email"
                            id="email" required="" style="color: #006cfa;" />

                        <input type="submit" value="REGISTER" data-wait="Please wait..." class="w-button" style="font-color: #006cfa;" />
                    </form>
                    <div class="w-form-done">
                        <div>Thank you! Your submission has been received!</div>
                    </div>
                    <div class="w-form-fail">
                        <div>Oops! Something went wrong while submitting the form.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>